{% extends 'base.html' %}

{% block title %}Restaurant Menus of Mukwonago, WI{% endblock %}

{% block head %}{% endblock %}
    
{% block content %}

    <div class="menu-list">
        <ul>
            {% for menu in menus %}
            <li>
                <img src="{{ STATIC_URL }}20120710-imperial-house_6.png" alt="{{ menu.restaurant }}" />
                <span class="tags">{{ menu.restaurant.tags }}</span>
                <h2>{{ menu.restaurant.name }}</h2>
            </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block external %}
    <script type="text/javascript" src="/static/pdfobject.js"></script>
    <!--
    <script type="text/javascript">
        $(document).ready(function() {
            var myPDF = new PDFObject({ url: "media/20120710-imperial-house.pdf" }).embed();
        });
    </script>    
    -->
{% endblock %}

